<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/rubik-font@0.0.3/css/rubik.css">
    <meta property="og:title" content="0x53978" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/static/img/0x53978.png" />
    <meta property="og:description" content="Portfolio Website" />
    <meta name="theme-color" content="#7E9DEB">
    <meta name="twitter:card" content="summary_large_image">
    <title>0x53978</title>
</head>
