<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/rubik-font@0.0.3/css/rubik.css">
    <meta property="og:title" content="Snikker" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Portfolio Website" />
    <meta name="theme-color" content="#5a5ce0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Snikker</title>
</head>
