<html>
    {% include "head.html" %}
    <body class="bg-zinc-800 snap-y">
        <div class="snap-start h-screen bg-zinc-700 bg-no-repeat bg-cover">
            <div class="h-full flex items-center justify-center relative">
                <div class="text-center">
                    <h1 class="text-9xl antialiased text-neutral-100 tracking-normal" style="font-family: Rubik"><span class="text-gray-400">0x</span>53978</h1>
                    <p class="text-neutral-100 text-xl" style="font-family: Rubik">Software Developer • Full Stack Web Developer</p>
                    <div class="flex justify-center space-x-1 items-center">
                        <a href="https://github.com/Snikkertjuh" target="_blank">
                            <img src="/static/img/github_btn.png" width="120">
                        </a>
                        <a href="">
                            <img src="/static/img/discord_btn.png" width="120">
                        </a>
                    </div>
                </div>
            </div>
            <div class="absolute top-0 p-2 flex space-x-2">
                <div class="bg-zinc-900 flex items-center my-2 space-x-3 text-neutral-200 rounded-md py-2 px-3">
                    <img src="/static/img/botz.png" width="40">
                    <h2>Bot Developer ~ 2022</h2>
                </div>
                <div class="bg-zinc-900 flex items-center my-2 space-x-3 text-neutral-200 rounded-md py-2 px-3">
                    <img src="/static/img/eaglecreators.png" width="40">
                    <h2>Developer ~ 2022</h2>
                </div>
                <div class="bg-zinc-900 flex items-center my-2 space-x-3 text-neutral-200 rounded-md py-2 px-3">
                    <img src="/static/img/xeonpanel2.png" width="40">
                    <h2>Head Developer ~ 2022</h2>
                </div>
                <div class="bg-zinc-900 flex items-center my-2 space-x-3 text-neutral-200 rounded-md py-2 px-3">
                    <img src="/static/img/xeonnode2.png" width="40">
                    <h2>Founder ~ 2021</h2>
                </div>
            </div>
        </div>
        <section class="snap-start" id="projects">
            <div class="mx-48 my-12">
                <h1 class="text-center text-4xl text-neutral-100 mb-4" style="font-family: Rubik">Mijn projecten</h1>
                <!-- Xeonpanel -->
                <div class="my-12 flex justify-center w-full">
                    <div class="flex justify-between w-full items-center">
                        <div class="text-neutral-100 w-1/2">
                            <div class="flex space-x-8 items-center">
                                <img src="/static/img/xeonpanel.png" width="300">
                                <div class="py-1 px-2 rounded-md text-neutral-200 font-semibold bg-green-500">PUBLIC SOURCE</div>
                            </div>
                            <p class="text-neutral-300 font-mono mt-4">
                                Xeonpanel is een een paneel gemaakt met Flask waarop je game-servers kan hosten maar ook nodejs of python bots,
                                dit project bestaat uit 2 onderdelen, het paneel en deamon.
                            </p>
                            <br>
                            <p class="text-neutral-300 font-mono">
                                Het paneel is de website en backend waarop je alles ziet en kan beheren.
                            </p>
                            <p class="text-neutral-300 font-mono">
                                De deamon is een python script dat draait op een node (vps of dedicated server) zodat het paneel ermee kan verbinden en er servers op kan aanmaken via Docker.
                            </p>
                            <div class="mt-5 flex space-x-8 items-center">
                                <div class="flex items-center space-x-2">
                                    <img src="/static/img/python.png" width="50">
                                    <img src="/static/img/html.png" width="50">
                                    <img src="/static/img/git.png" width="50">
                                    <img src="/static/img/tailwind.png" width="50">
                                    <img src="/static/img/docker.png" width="50">
                                    <img src="/static/img/nginx.png" width="50">
                                </div>
                                <div class="flex items-center space-x-2">
                                    <a href="https://github.com/Xeonpanel" target="_blank">
                                        <img src="/static/img/github_btn.png" width="150">
                                    </a>
                                    <a href="https://discord.gg/ABEHpXcmEm" target="_blank">
                                        <img src="/static/img/discord_btn.png" width="150">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <img src="/static/img/preview_xeonpanel_1.png" width="700" class="rounded-md shadow-xl">
                    </div>
                </div>
                <!-- End -->
                <!-- Xeonnode -->
                <div class="my-12 flex justify-center w-full">
                    <div class="flex justify-between w-full items-center">
                        <div class="text-neutral-100 w-1/2">
                            <div class="flex space-x-8 items-center">
                                <img src="/static/img/xeonnode.png" width="55">
                                <div class="py-1 px-2 rounded-md text-neutral-200 font-semibold bg-red-500">CLOSED SOURCE</div>
                            </div>
                            <p class="text-neutral-300 font-mono mt-4">
                                Xeonnode is een goedkope hosting in Nederland en Belgie, deze website is ingebouwd met een shopsysteem en verbonden met de pterodactyl API
                                om zo makkelijk servers te maken en te suspenden.
                            </p>
                            <div class="mt-5 flex space-x-8 items-center">
                                <div class="flex items-center space-x-2">
                                    <img src="/static/img/javascript.png" width="50">
                                    <img src="/static/img/html.png" width="50">
                                    <img src="/static/img/git.png" width="50">
                                    <img src="/static/img/tailwind.png" width="50">
                                    <img src="/static/img/nginx.png" width="50">
                                </div>
                            </div>
                        </div>
                        <img src="/static/img/preview_xeonnode_1.png" width="700" class="rounded-md shadow-xl">
                    </div>
                </div>
                <!-- End -->
                <!-- Flaskdrive -->
                <div class="my-12 flex justify-center w-full pb-12">
                    <div class="flex justify-between w-full items-center">
                        <div class="text-neutral-100 w-1/2">
                            <div class="flex space-x-8 items-center">
                                <img src="/static/img/flaskdrive.png" width="100">
                                <div class="py-1 px-2 rounded-md text-neutral-200 font-semibold bg-red-500">CLOSED SOURCE</div>
                            </div>
                            <p class="text-neutral-300 font-mono mt-4">
                                Flaskdrive is een platform om bestanden te uploaden en te delen met vrienden,
                                bestanden worden vesleuteld met AES-256 bit encryptie in de database.
                            </p>
                            <div class="mt-5 flex space-x-8 items-center">
                                <div class="flex items-center space-x-2">
                                    <img src="/static/img/python.png" width="50">
                                    <img src="/static/img/html.png" width="50">
                                    <img src="/static/img/git.png" width="50">
                                    <img src="/static/img/tailwind.png" width="50">
                                    <img src="/static/img/nginx.png" width="50">
                                </div>
                            </div>
                        </div>
                        <img src="/static/img/preview_flaskdrive_1.png" width="700" class="rounded-md shadow-xl">
                    </div>
                </div>
                <!-- End -->
                <!-- Imagescreen Server -->
                <div class="my-12 flex justify-center w-full pb-12">
                    <div class="flex justify-between w-full items-center">
                        <div class="text-neutral-100 w-1/2">
                            <div class="flex space-x-8 items-center">
                                <img src="/static/img/imagescreen_server.png" width="300">
                                <div class="py-1 px-2 rounded-md text-neutral-200 font-semibold bg-red-500">CLOSED SOURCE</div>
                            </div>
                            <p class="text-neutral-300 font-mono mt-4">
                                Imagescreen Server is het server gedeelte van Imagescreen hierop worden via de API screenshots geupload van de App of via de CLI.
                            </p>
                            <div class="mt-5 flex space-x-8 items-center">
                                <div class="flex items-center space-x-2">
                                    <img src="/static/img/python.png" width="50">
                                    <img src="/static/img/html.png" width="50">
                                    <img src="/static/img/git.png" width="50">
                                    <img src="/static/img/tailwind.png" width="50">
                                    <img src="/static/img/nginx.png" width="50">
                                </div>
                            </div>
                        </div>
                        <img src="/static/img/preview_imagescreenserver_1.png" width="700" class="rounded-md shadow-xl">
                    </div>
                </div>
                <!-- End -->
            </div>
        </section>
        <footer class="bg-zinc-900 space-x-2 text-center justify-center text-neutral-100 flex items-center p-3">
            <h2>0x53978</h2>
            <a href="mailto:snikkerzakelijk@gmail.com" class="text-blue-600">Contact</a>
            <a href="https://github.com/Snikkertjuh?tab=repositories" target="_blank" class="text-blue-600">Github</a>
        </footer>
    </body>
</html>